<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>cron-handler</servlet-name>
        <servlet-class>it.growbit.servlet.CronHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cron-handler</servlet-name>
        <url-pattern>/cron-handler/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>task-daily-hour-avg</servlet-name>
        <servlet-class>it.growbit.servlet.TaskDailyHourAvg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>task-daily-hour-avg</servlet-name>
        <url-pattern>/tasks/daily-hour-avg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>daily-hour-trend</servlet-name>
        <servlet-class>it.growbit.servlet.TaskDailyHourTrend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>daily-hour-trend</servlet-name>
        <url-pattern>/tasks/daily-hour-trend</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gae-flex-auto-scaler</servlet-name>
        <servlet-class>it.growbit.flex.GAEFlexAutoScaler</servlet-class>
        <init-param>
            <param-name>servlet-mapping-url-pattern</param-name>
            <param-value>/task/gae-flex-auto-scaler</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>gae-flex-auto-scaler</servlet-name>
        <url-pattern>/task/gae-flex-auto-scaler</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/cron-handler/*</url-pattern>
            <url-pattern>/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>